.presentation-container {
	position: relative;
	display: flex;			
	flex-direction: column-reverse;     
}
.presentation__content {	
	position: relative;
    padding-left: 20px;
	padding-right: 20px;
	text-align: center;	
	background-color: #ffffff;
}
.presentation__title {	
	margin-top: 12px;
	margin-bottom: 9px;
	color: #1f1f24;	
	font-size: 30px;
	font-weight: 900;	
}
.presentation__description {				
	color: #8993ad;
    font-size: 16px;
	line-height: 1.4;		
}
.presentation__learn-more {
	display: block;	
	width: 280px;
	padding-top: 18px;
    padding-bottom: 18px;
    margin: 25px auto 43px;					
    cursor: pointer;
    text-align: center;	
	border: none;
	background-color: #ff4e2e;
	color: #ffffff;
	font-size: 16px;			
}


.presentation__image-block {
	height: 415px;
	background-image: url(../img/ellipse.png);
	background-repeat: no-repeat;
	background-position: -68px 114px;
    background-size: 491px auto;	
}
.presentation__image {	
	padding-left: 76px;
    padding-top: 85px;	
}
.presentation__ellips-background {
    display: none;	
}
.presentation__fly-tag {
	position: absolute;	
	background: linear-gradient(to bottom, #ff3493, #ff8a5d); /* Градиент для текста */
    -webkit-background-clip: text; /* Обрезаем фон по тексту */
    -webkit-text-fill-color: transparent; /* Прозрачный текст */
    font-weight: 700;
}
.presentation__fly-tag_1 {
	top: 45px;
    left: 50px;
    transform: rotate(28deg);
	font-size: 25px;
	animation-name: tag-1;
	animation-duration: 5s;	
}
.presentation__fly-tag_2 {
	top: 150px;
    left: 37px;
    transform: rotate(15deg);
	font-size: 29px;	
	animation-name: tag-2;	
	animation-duration: 5s;
}
.presentation__fly-tag_3 {
	top: 28px;
    right: 121px;
    transform: rotate(-30deg);	
    font-size: 19px;	
    animation-name: tag-3;	
    animation-duration: 5s;
}
.presentation__fly-tag_4 {	
	top: 92px;
	right: 39px;
    transform: rotate(19deg);
	font-size: 15px;	
	animation-name: tag-4;
	animation-duration: 5s;	
}
.presentation__fly-tag_5 {
	display: none;
	animation-name: tag-5;	
	animation-duration: 5s;
}
.presentation__fly-tag_6 {
	display: none;
	animation-name: tag-6;	
	animation-duration: 5s;
}
@keyframes tag-1 {
	0% {
		top: 80%;
		left: 70%;
		font-size: 0;
		transform: rotate(-360deg);
	}
}

@keyframes tag-2 {
	0% {
		top: 80%;
		left: 70%;
		font-size: 20px;
		transform: rotate(-360deg);
	}
}

@keyframes tag-3 {
	0% {
		top: 10%;
		left: 80%;
		font-size: 0;
		transform: rotate(-360deg);
	}
}

@keyframes tag-4 {
	0% {
		top: 55%;
		left: 17%;
		font-size: 0;
		transform: rotate(-360deg);
	}
}

@keyframes tag-5 {
	0% {
		top: 0;
		left: 0;
		font-size: 0;
		transform: rotate(-360deg);
	}
}

@keyframes tag-6 {
	0% {
		top: 0;
		left: 0;
		font-size: 0;
		transform: rotate(-360deg);
	}
}

@media (min-width: 321px) {
	.presentation__image-block {
		background-position: center 114px;
	}
	.presentation__image {	    	
		display: block;
		margin: 0 auto;
		padding-left: 0;		
	}
}

@media (min-width: 768px) {
	.presentation {	
	    overflow: hidden;		    
	}	
	.presentation-container {	
	    flex-direction: row;	
		justify-content: space-between;
		flex-wrap: nowrap;
		padding: 0 39px 0 40px;
	}	
	.presentation__content {		
		padding-left: 0;
		padding-right: 0;
	    padding-top: 209px;
		text-align: left;
		background-color: transparent;			
	}
	.presentation__title {
	    margin-top: 28px;
	    margin-bottom: 23px;		
		font-size: 54px;		
	}
	.presentation__description {
		font-size: 25px;	
		line-height: 1;		
	}
	.presentation__learn-more {
		width: 320px;
		margin: 0;
		margin-top: 46px;
        margin-bottom: 229px;
		padding-top: 24px;
		padding-bottom: 22px;
		font-size: 18px;
		font-weight: 500;		
	}
	.presentation__image-block {
	    align-self: flex-end;	
	    height: 625px;	
	    background-image: none;
	}
	.presentation__image {	    	
		height: 625px;
		min-width: 433px;
		margin: 0;		
		padding-top: 0;
	}
	.presentation__ellips-background {		
		z-index: -1;		
		position: absolute;
		display: block;
		bottom: -215px;
        right: -408px;
        width: 952px;
        height: 760px;        
        transform: rotate(8deg);
		background-image: url(../img/ellipse.png);
		background-repeat: no-repeat;
		background-size: 883px auto;
	}
	.presentation__fly-tag_1 {
		top: 78px;
        left: 79px;
        transform: rotate(28deg);
        font-size: 49px;	
	}
	.presentation__fly-tag_2 {
		top: 551px;
        left: 58px;
        transform: rotate(16deg);
        font-size: 58px;	
	}
	.presentation__fly-tag_3 {
		top: 154px;
        right: 538px;
        transform: rotate(14deg);
        font-size: 46px	
	}
	.presentation__fly-tag_4 {	
		top: 72px;
        right: 69px;
        transform: rotate(-12deg);
        font-size: 29px;	
	}
	.presentation__fly-tag_5 {
		display: block;
		top: 505px;
        left: 358px;
        transform: rotate(-23deg);
        font-size: 42px;
	}
}

@media (min-width: 1350px) {	
    .presentation-container {	
		position: relative;    	
		padding: 0;
		margin-right: -78px;
	}	
	.presentation__content {		
		padding-top: 178px;
	}
	.presentation__title {
	    margin-top: 35px;
	    margin-bottom: 19px;	    		
		font-size: 80px;		
	}
	.presentation__learn-more {
		width: 270px;
        margin-top: 46px;
        margin-bottom: 237px;
        padding-top: 20px;
        padding-bottom: 18px;				
	}
	.presentation__image {	   
	    top: 0;			
	}
	.presentation__ellips-background {			
		bottom: -117px;
        right: -403px;
		width: 932px;
		height: 760px;
		transform: rotate(0deg);		
		background-size: 946px auto;
	}
	.presentation__fly-tag_1 {
		top: 59px;
        left: -245px;   
        transform: rotate(28deg);
        font-size: 49px;
	}
	.presentation__fly-tag_2 {
		top: 287px;
        left: -129px;
        transform: rotate(16deg);
        font-size: 58px;	
	}
	.presentation__fly-tag_3 {
		display: none;
	}
	.presentation__fly-tag_4 {	
		top: 466px;
        right: 582px;
        transform: rotate(22deg);  
        font-size: 39px;	
	}
	.presentation__fly-tag_5 {		
        top: 593px;
        left: 1px;
        transform: rotate(-23deg);
        font-size: 42px;
	}
	.presentation__fly-tag_6 {
		display: block;
        top: 93px;
        left: 419px;
        transform: rotate(-15deg);
        font-size: 27px;
	}
}





.skills {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 50px;
	background-color: #ffffff;	
}
.skills__title {	
	text-align: center;
	color: #1f1f24;	
    font-size: 30px;		
}
.skills__container {
	display: flex;		
	flex-direction: column;
	align-items: center;		
}
.skills__item {
	margin-top: 42px;
	padding-top: 70px;
	text-align: center;		
	background-repeat: no-repeat;
	background-position: center 0;
	color: #8993ad;
	font-size: 16px;
	line-height: 24px;			
}
.skills__item_1 {	
	width: 80%;
	background-image: url(../img/tools-and-utensils.png);			
}
.skills__item_2 {	
	margin-top: 49px;
	padding-top: 74px;
	background-image: url(../img/responsive.png);	
}
.skills__item_3 {	
	margin-top: 49px;
	padding-top: 74px;			
	background-size: 60px auto;
	background-image: url(../img/programming.png);	
}
.skills__item_4 {	
	margin-top: 49px;
	padding-top: 75px;
	background-image: url(../img/coding.png);	
}
.skills__link {
	display: block;
	width: 280px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin: 50px auto 0;    	
	cursor: pointer;
	text-align: center;
	border: none;
	background-color: #ff4e2e;	
	color: #ffffff;	
	font-size: 16px;		
}

@media (min-width: 321px) {
	.skills__item {
		width: 257px;					
	}
	.skills__link {		
		width: 320px;				
	}
}

@media (min-width: 768px) {
	.skills {
		padding: 85px 40px 104px;		
	}
	.skills__title {
		margin-bottom: 88px;
		padding-right: 26px;
		color: #262626;
		font-size: 54px;
		font-weight: 700;				
	}
	.skills__container {		
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;	
		margin: 0 70px 93px;			
	}
	.skills__item {
		width: 257px;	
		margin-top: 0;	
		padding-top: 93px;				
	    background-position: center top;
	    background-size: 81px auto;
	    font-size: 20px;
		line-height: 30px;			
	}
	.skills__item_2 {	    		
        margin-top: 0;  
        padding-top: 93px;               
	}
	.skills__item_3 {	    		
        margin-top: 77px;        
        padding-top: 91px;
        background-size: 74px auto;
	}
	.skills__item_4 {	    		
		margin-top: 77px;
		padding-top: 91px;
        background-size: 74px auto;        
	}
	.skills__link {			
		height: 68px;
        margin: 0 auto;
        padding-top: 1px;
        padding-bottom: 0;
        font-size: 18px;
        font-weight: 500;		
	}
}

@media (min-width: 951px)  {
	.skills__container {				
		margin: 0 149px 93px;			
	}
}

@media (min-width: 1170px) {
	.skills {
		padding: 88px 0 102px;		
	}
	.skills__title {
	    margin-bottom: 87px;
	    padding-right: 0;			
	}
	.skills__container {			
		flex-wrap: nowrap;	
		margin: 0 0 90px 0;	
	}
	.skills__item {			
		margin-left: 0;
		margin-right: 0;			
		background-size: 80px auto;	
		line-height: 29px;							    		
	}
	.skills__item_3 {
	    margin: 0;	    
	    padding-top: 93px;
		background-size: 75px auto;	
	}
	.skills__item_4 {
	    margin-top: 0;
	}
	.skills__link {		
		width: 269px;
        height: 61px;
        padding-top: 7px;			
		font-weight: 400;		
	}
}




.works {
	position: relative;
	width: 100%;
	max-width: 320px;
	padding-top: 44px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #fbfbfb;	
} 
.works__title {	
	margin-bottom: 42px;		
	text-align: center;	
	color: #1f1f24;
	line-height: 35px;
	font-size: 30px;		
}
.works__container {	    
	display: flex;
	flex-wrap: nowrap;	
	padding-bottom: 43px;		
}
.works__item {
	min-width: 280px;
	margin-right: 0;
}
.works__image {
	width: 280px;
    height: 252px;		
}
.works__text {	
    margin-top: 12px;
    text-align: center;		
	color: #8993ad;
	font-weight: 500;
	font-size: 18px;	
}
.navigation-left-button {
	display: none;
	position: absolute;
	z-index: 2;
	top: 268px;
    left: -30px;	
	width: 60px;
	height: 60px;
	box-shadow: 0 0 5px 0 #e7e7e7;
	cursor: pointer;
	border-radius: 50%;
	border: none;
	background-color: #ffffff;
	background-image: url(../img/arrow.png);
	background-size: cover;	
}
.navigation-right-button {
	display: none;
	position: absolute;
	z-index: 2;
	top: 268px;
    right: -32px;	
	width: 60px;
	height: 60px;
	transform: rotate(180deg);
	box-shadow: 0 0 5px 0 #e7e7e7;
	cursor: pointer;
	border-radius: 50%;
	border: none;
	background-color: #ffffff;
	background-image: url(../img/arrow.png);
	background-size: cover;	
}
.order-link {
	display: block;
	width: 100%;	
	padding-top: 18px;
	padding-bottom: 18px;	
	cursor: pointer;
	text-align: center;	
	border: none;	
	background-color: #ff4e2e;	
	color: #ffffff;	
	font-size: 16px;
}
.works__order-link {		
	margin-top: 36px;
	margin-bottom: 51px;	
}


@media (min-width: 321px) {
	.works {
		width: auto;
		max-width: none;			
	}	
	.order-link {
	    width: 280px;	    			
	}
	.works__order-link {
		margin: 38px auto 51px;	
	}
}

@media (min-width: 768px) {
	.works {
		padding: 105px 40px 101px 39px;			
	}
	.works__title {
		margin-bottom: 112px;
		color: #262626;
		font-size: 54px;				
	}
	.works__container {		
		padding-bottom: 137px;
	}
	.works__item {
	    min-width: auto;		
	}	
	.works__image {
		width: auto;
		height: auto;				
	}
	.works__text {
		margin-top: 18px;
		font-size: 25px;
	}
	.order-link {			
		width: 320px;
        height: 68px;        
        padding-top: 4px;
        padding-bottom: 0;
        font-size: 18px;
        font-weight: 500;		
	}
	.works__order-link {
		margin: 87px auto 0;
	}
}
@media (min-width: 1024px) {
	.works__image {
		width: auto;
		height: 356px;
		min-width: 455px;		
	}
}

@media (min-width: 1248px) {
	.works {
		padding-top: 105px;
		padding-bottom: 103px;
		padding-right: 40px;	
	}
	.works__title {
		margin-bottom: 115px;
		font-size: 51px;	
		letter-spacing: 1.6px;	
	}
	.works__container {			
	    justify-content: space-between;	
	    padding-bottom: 0;	
	}
	.works__item {		    	
		margin-right: 29px;
	}
	.works__image {
		min-width: 369px;
		height: auto;		
	}
	.works__text {
		margin-top: 33px;
		font-size: 20px;
	}
	.navigation-left-button {
		display: block;
	}
	.navigation-right-button {
		display: block;
	}
	.order-link {		
		width: 269px;
        height: 60px;        
        padding-top: 0px;		
		font-weight: 400;		
	}
	.works__order-link {
		margin-top: 40px;
	}
}




.prices {	
	padding: 42px 20px 41px;
	background-image: linear-gradient(to bottom, #ff3493, #ff8a5d);
}
.prices .fixed-container {
	position: relative;
}
.prices__content {		
	color: #ffffff;
	font-weight: 700;
	font-size: 27px;
	line-height: 40px;
	letter-spacing: 0.4px;		
}
.prices__add-content {
	position: relative;
	margin-top: 33px;
	padding-left: 12px;
	color: #ffffff;
	font-size: 16px;
	line-height: 30px;	
}
.prices__add-content::before {
	content: "*";
	position: absolute;
	left: 0;
	top: -1px;
}
.prices__fly-tag_1, .prices__fly-tag_2, .prices__fly-tag_3, .prices__fly-tag_4, 
.prices__fly-tag_5 {
	display: none;
}

@media (min-width: 768px) {
	.prices {		
		padding: 75px 0 81px;		
	}
	.prices__content {
		padding-left: 40px;
		font-size: 44px;
		line-height: 60px;	
		letter-spacing: 0.5px;	
	}
	.prices__add-content {		
		width: 78%;
		margin-top: 28px;
        padding-left: 53px;
        font-size: 17px;		
		letter-spacing: 0.6px;		
	}
	.prices__add-content::before {
		content: "*";
		position: absolute;
		left: 40px;
		top: -1px;
	}
	.prices__fly-tag {
		position: absolute;
		color: #ffffff;
		font-weight: 700;
	}
	.prices__fly-tag_1 {
		display: block;
		top: -53px;
        left: 156px;
        transform: rotate(28deg);
        font-size: 32px;
        animation-name: prices__tag-1;
        animation-duration: 5s;
	}
	.prices__fly-tag_2 {
		display: block;
		top: 227px;
        left: 511px;
        transform: rotate(20deg);
        font-size: 25px;
        animation-name: prices__tag-2;
        animation-duration: 5s;		
	}
	.prices__fly-tag_3 {
		display: block;
		top: 211px;
        right: 94px;
        transform: rotate(-23deg);
        font-size: 40px;
        animation-name: prices__tag-3;
        animation-duration: 5s;		
	}	
}

@media (min-width: 1170px) {
	.prices {		
		padding-top: 74px;
        padding-bottom: 80px;
	}
	.prices__content {
		padding-left: 114px;		
	}
	.prices__add-content {
		width: 75%;
	    margin-top: 29px;		
		padding-left: 127px;		
	}
	.prices__add-content::before {		
		left: 112px;		
	}
	.prices__fly-tag_1 {
		top: -16px;
        left: -245px;
        transform: rotate(28deg);
        font-size: 48px;
	}
	.prices__fly-tag_2 {
		top: 227px;
        left: 1048px;;
        transform: rotate(20deg);
        font-size: 37px;	
	}
	.prices__fly-tag_3 {
		top: -2px;
        right: -168px;
        transform: rotate(-23deg);
        font-size: 41px;		
	}	
	.prices__fly-tag_4 {
		display: block;
        top: 173px;
        left: -128px;
        transform: rotate(14deg);
        font-size: 55px;	
        animation-name: prices__tag-4;
        animation-duration: 5s;	
	}
	.prices__fly-tag_5 {
		display: block;
		top: 181px;
        right: -265px;
        transform: rotate(-17deg);
        font-size: 48px;
        animation-name: prices__tag-5;
        animation-duration: 5s;		
	}
}
@keyframes prices__tag-1 {
	0% {
		top: 80%;
		left: 70%;
		font-size: 0;
		transform: rotate(-360deg);
	}
}

@keyframes prices__tag-2 {
	0% {
		top: 80%;
		left: 70%;
		font-size: 0;
		transform: rotate(-360deg);
	}
}

@keyframes prices__tag-3 {
	0% {
		top: 10%;
		left: 80%;
		font-size: 0;
		transform: rotate(-360deg);
	}
}
@keyframes prices__tag-4 {
	0% {
		bottom: 0;
		right: 0;
		font-size: 0;
		transform: rotate(-360deg);
	}
}

@keyframes prices__tag-5 {
	0% {
		bottom: 0;
		right: 0;
		font-size: 0;
		transform: rotate(-360deg);
	}
}






